#header,
#nav-tabs,
#sub-nav { display: none !important; }

#container,
#main { all: unset; }

#content {
  max-width: 100vw;
  min-width: 100vw !important;
}

#info-action-bar { margin: 16px; }

body,
#exception-content { all: unset; }

/* /spr/app/client/* */
.page-wrapper > div:first-child,
.navigation-wrap { display: none !important; }
